// Generic
$c-black: #000;
$c-white: #fff;
$c-pink: #ebbcc4;
$c-citrus: #ffff8a;
$c-olive: #2a2d2a;

// Grey shades
$c-grey: #585858;
$c-grey-1100: darken($c-grey, 50%);
$c-grey-1000: darken($c-grey, 40%);
$c-grey-900: darken($c-grey, 30%);
$c-grey-800: darken($c-grey, 20%);
$c-grey-700: darken($c-grey, 10%);
$c-grey-600: darken($c-grey, 5%);
$c-grey-500: lighten($c-grey, 5);
$c-grey-400: lighten($c-grey, 10%);
$c-grey-300: lighten($c-grey, 20%);
$c-grey-200: lighten($c-grey, 30%);
$c-grey-100: lighten($c-grey, 40%);
$c-grey-50: lighten($c-grey, 50%);
