$c-black: #000;
$c-white: #fff;
$c-pink: #ebbcc4;
$c-citrus: #ffff8a;

// olive tints
$c-olive: #2a2d2a;

// grey tints
$c-grey: #585858;
$c-grey-lt-10: lighten($c-grey, 50%);
$c-grey-lt-9: lighten($c-grey, 45%);
$c-grey-lt-8: lighten($c-grey, 40%);
$c-grey-lt-7: lighten($c-grey, 35%);
$c-grey-lt-6: lighten($c-grey, 30%);
$c-grey-lt-5: lighten($c-grey, 25%);
$c-grey-lt-4: lighten($c-grey, 20%);
$c-grey-lt-3: lighten($c-grey, 15%);
$c-grey-lt-2: lighten($c-grey, 10%);
$c-grey-lt-1: lighten($c-grey, 5%);

$c-grey-dk-7: darken($c-grey, 35%);
$c-grey-dk-6: darken($c-grey, 30%);
$c-grey-dk-5: darken($c-grey, 25%);
$c-grey-dk-4: darken($c-grey, 20%);
$c-grey-dk-3: darken($c-grey, 15%);
$c-grey-dk-2: darken($c-grey, 10%);
$c-grey-dk-1: darken($c-grey, 5%);
// grey tints transparent
