// larger than heading
$fs-xxxl: 80px;
$fs-xxl: 70px;
$fs-xl: 60px;
$fs-lg: 48px;

// heading
$fs-h1: 36px;
$fs-h2: 32px;
$fs-h3: 28px;
$fs-h4: 24px;
$fs-h5: 20px;
$fs-h6: 19.2px;

// smaller than heading
$fs-base: 16px;
$fs-medium-plus: 15px;
$fs-medium: 14px;
$fs-small: 13px;
$fs-mini: 12px;
$fs-micro: 10px;
$fs-nano: 8px;
