@mixin underline {
    background: linear-gradient($c-white, $c-white);
    background-repeat: no-repeat;
    background-position: bottom;
    transition: background-size $tr-smooth;
    background-size: 0 2px;
    &:hover {
        background-size: 100% 2px;
    }
}

@mixin button-style($c-btn-hvr) {
    font-size: $fs-medium-plus;
    text-align: center;
    padding: 10px;
    width: $w-full;
    border-radius: $br-medium;
    transition: $tr-basic;
    color: $c-grey-dk-7;
    background-color: $c-grey-lt-7;
    &:hover {
        background-color: $c-btn-hvr;
    }
    &:active {
        background-color: $c-grey-lt-1;
        box-shadow: inset 0px 0px 5px $c-grey-lt-1;
        outline: none;
    }
}

@mixin bar {
    display: block;
    width: $w-full;
    max-width: 50rem;
    margin-inline: auto;
    padding-block: 1rem;
    padding-inline: 1.25rem;
    border: $br-mini solid rgba(255, 255, 255, 0.651);
    border-radius: $br-medium;
    background-color: rgba(0, 0, 0, 0.77);
    font-size: $fs-h4;
    color: $c-white;
    outline: none;
    transition: $tr-basic;
}
