.skeleton {
    opacity: 0.7;
    animation: skeleton-loading 1s linear infinite alternate;
}

.skeleton-text {
    width: $w-full;
    height: 0.5rem;
    margin-bottom: $mb-2;
    border-radius: $br-small;

    &:last-child {
        width: 80%;
    }
}

@keyframes skeleton-loading {
    0% {
        background-color: hsl(200, 20%, 70%);
    }
    100% {
        background-color: hsl(200, 20%, 95%);
    }
}
