// padding
$p-0: 0rem;
$p-px: 0.0625rem;
$p-1: 0.125rem;
$p-2: 0.25rem;
$p-3: 0.375rem;
$p-4: 0.5rem;
$p-5: 0.625rem;
$p-6: 0.75rem;
$p-7: 0.875rem;
$p-8: 1rem;
$p-9: 1.25rem;
$p-10: 1.5rem;
$p-11: 1.75rem;
$p-12: 2rem;
$p-13: 2.25rem;
$p-14: 2.5rem;
$p-15: 2.75rem;
$p-16: 3rem;
$p-17: 3.25rem;
$p-18: 3.5rem;
$p-19: 3.75rem;
$p-20: 4rem;
$p-21: 4.25rem;
$p-22: 4.5rem;
$p-23: 4.75rem;
$p-24: 5rem;
$p-25: 5.25rem;
$p-26: 5.5rem;
$p-27: 5.75rem;
$p-28: 6rem;
$p-29: 6.25rem;
$p-30: 6.5rem;
$p-31: 6.75rem;
$p-32: 7rem;
$p-33: 7.25rem;
$p-34: 7.5rem;
$p-35: 7.75rem;
$p-36: 8rem;
$p-37: 8.25rem;
$p-38: 8.5rem;
$p-39: 8.75rem;
$p-40: 9rem;
$p-41: 9.25rem;
$p-42: 9.5rem;
$p-43: 9.75rem;
$p-44: 10rem;
$p-45: 10.25rem;
$p-46: 10.5rem;
$p-47: 10.75rem;
$p-48: 11rem;
$p-49: 11.25rem;
$p-50: 11.5rem;

// padding-top
$pt-0: 0rem;
$pt-px: 0.0625rem;
$pt-1: 0.125rem;
$pt-2: 0.25rem;
$pt-3: 0.375rem;
$pt-4: 0.5rem;
$pt-5: 0.625rem;
$pt-6: 0.75rem;
$pt-7: 0.875rem;
$pt-8: 1rem;
$pt-9: 1.25rem;
$pt-10: 1.5rem;
$pt-11: 1.75rem;
$pt-12: 2rem;
$pt-13: 2.25rem;
$pt-14: 2.5rem;
$pt-15: 2.75rem;
$pt-16: 3rem;
$pt-17: 3.25rem;
$pt-18: 3.5rem;
$pt-19: 3.75rem;
$pt-20: 4rem;
$pt-21: 4.25rem;
$pt-22: 4.5rem;
$pt-23: 4.75rem;
$pt-24: 5rem;
$pt-25: 5.25rem;
$pt-26: 5.5rem;
$pt-27: 5.75rem;
$pt-28: 6rem;
$pt-29: 6.25rem;
$pt-30: 6.5rem;
$pt-31: 6.75rem;
$pt-32: 7rem;
$pt-33: 7.25rem;
$pt-34: 7.5rem;
$pt-35: 7.75rem;
$pt-36: 8rem;
$pt-37: 8.25rem;
$pt-38: 8.5rem;
$pt-39: 8.75rem;
$pt-40: 9rem;
$pt-41: 9.25rem;
$pt-42: 9.5rem;
$pt-43: 9.75rem;
$pt-44: 10rem;
$pt-45: 10.25rem;
$pt-46: 10.5rem;
$pt-47: 10.75rem;
$pt-48: 11rem;
$pt-49: 11.25rem;
$pt-50: 11.5rem;

// padding-right
$pr-0: 0rem;
$pr-px: 0.0625rem;
$pr-1: 0.125rem;
$pr-2: 0.25rem;
$pr-3: 0.375rem;
$pr-4: 0.5rem;
$pr-5: 0.625rem;
$pr-6: 0.75rem;
$pr-7: 0.875rem;
$pr-8: 1rem;
$pr-9: 1.25rem;
$pr-10: 1.5rem;
$pr-11: 1.75rem;
$pr-12: 2rem;
$pr-13: 2.25rem;
$pr-14: 2.5rem;
$pr-15: 2.75rem;
$pr-16: 3rem;
$pr-17: 3.25rem;
$pr-18: 3.5rem;
$pr-19: 3.75rem;
$pr-20: 4rem;
$pr-21: 4.25rem;
$pr-22: 4.5rem;
$pr-23: 4.75rem;
$pr-24: 5rem;
$pr-25: 5.25rem;
$pr-26: 5.5rem;
$pr-27: 5.75rem;
$pr-28: 6rem;
$pr-29: 6.25rem;
$pr-30: 6.5rem;
$pr-31: 6.75rem;
$pr-32: 7rem;
$pr-33: 7.25rem;
$pr-34: 7.5rem;
$pr-35: 7.75rem;
$pr-36: 8rem;
$pr-37: 8.25rem;
$pr-38: 8.5rem;
$pr-39: 8.75rem;
$pr-40: 9rem;
$pr-41: 9.25rem;
$pr-42: 9.5rem;
$pr-43: 9.75rem;
$pr-44: 10rem;
$pr-45: 10.25rem;
$pr-46: 10.5rem;
$pr-47: 10.75rem;
$pr-48: 11rem;
$pr-49: 11.25rem;
$pr-50: 11.5rem;

// padding-bottom
$pb-0: 0rem;
$pb-px: 0.0625rem;
$pb-1: 0.125rem;
$pb-2: 0.25rem;
$pb-3: 0.375rem;
$pb-4: 0.5rem;
$pb-5: 0.625rem;
$pb-6: 0.75rem;
$pb-7: 0.875rem;
$pb-8: 1rem;
$pb-9: 1.25rem;
$pb-10: 1.5rem;
$pb-11: 1.75rem;
$pb-12: 2rem;
$pb-13: 2.25rem;
$pb-14: 2.5rem;
$pb-15: 2.75rem;
$pb-16: 3rem;
$pb-17: 3.25rem;
$pb-18: 3.5rem;
$pb-19: 3.75rem;
$pb-20: 4rem;
$pb-21: 4.25rem;
$pb-22: 4.5rem;
$pb-23: 4.75rem;
$pb-24: 5rem;
$pb-25: 5.25rem;
$pb-26: 5.5rem;
$pb-27: 5.75rem;
$pb-28: 6rem;
$pb-29: 6.25rem;
$pb-30: 6.5rem;
$pb-31: 6.75rem;
$pb-32: 7rem;
$pb-33: 7.25rem;
$pb-34: 7.5rem;
$pb-35: 7.75rem;
$pb-36: 8rem;
$pb-37: 8.25rem;
$pb-38: 8.5rem;
$pb-39: 8.75rem;
$pb-40: 9rem;
$pb-41: 9.25rem;
$pb-42: 9.5rem;
$pb-43: 9.75rem;
$pb-44: 10rem;
$pb-45: 10.25rem;
$pb-46: 10.5rem;
$pb-47: 10.75rem;
$pb-48: 11rem;
$pb-49: 11.25rem;
$pb-50: 11.5rem;

// padding-left
$pl-0: 0rem;
$pl-px: 0.0625rem;
$pl-1: 0.125rem;
$pl-2: 0.25rem;
$pl-3: 0.375rem;
$pl-4: 0.5rem;
$pl-5: 0.625rem;
$pl-6: 0.75rem;
$pl-7: 0.875rem;
$pl-8: 1rem;
$pl-9: 1.25rem;
$pl-10: 1.5rem;
$pl-11: 1.75rem;
$pl-12: 2rem;
$pl-13: 2.25rem;
$pl-14: 2.5rem;
$pl-15: 2.75rem;
$pl-16: 3rem;
$pl-17: 3.25rem;
$pl-18: 3.5rem;
$pl-19: 3.75rem;
$pl-20: 4rem;
$pl-21: 4.25rem;
$pl-22: 4.5rem;
$pl-23: 4.75rem;
$pl-24: 5rem;
$pl-25: 5.25rem;
$pl-26: 5.5rem;
$pl-27: 5.75rem;
$pl-28: 6rem;
$pl-29: 6.25rem;
$pl-30: 6.5rem;
$pl-31: 6.75rem;
$pl-32: 7rem;
$pl-33: 7.25rem;
$pl-34: 7.5rem;
$pl-35: 7.75rem;
$pl-36: 8rem;
$pl-37: 8.25rem;
$pl-38: 8.5rem;
$pl-39: 8.75rem;
$pl-40: 9rem;
$pl-41: 9.25rem;
$pl-42: 9.5rem;
$pl-43: 9.75rem;
$pl-44: 10rem;
$pl-45: 10.25rem;
$pl-46: 10.5rem;
$pl-47: 10.75rem;
$pl-48: 11rem;
$pl-49: 11.25rem;
$pl-50: 11.5rem;

// padding-inline
$px-0: 0rem;
$px-px: 0.0625rem;
$px-1: 0.125rem;
$px-2: 0.25rem;
$px-3: 0.375rem;
$px-4: 0.5rem;
$px-5: 0.625rem;
$px-6: 0.75rem;
$px-7: 0.875rem;
$px-8: 1rem;
$px-9: 1.25rem;
$px-10: 1.5rem;
$px-11: 1.75rem;
$px-12: 2rem;
$px-13: 2.25rem;
$px-14: 2.5rem;
$px-15: 2.75rem;
$px-16: 3rem;
$px-17: 3.25rem;
$px-18: 3.5rem;
$px-19: 3.75rem;
$px-20: 4rem;
$px-21: 4.25rem;
$px-22: 4.5rem;
$px-23: 4.75rem;
$px-24: 5rem;
$px-25: 5.25rem;
$px-26: 5.5rem;
$px-27: 5.75rem;
$px-28: 6rem;
$px-29: 6.25rem;
$px-30: 6.5rem;
$px-31: 6.75rem;
$px-32: 7rem;
$px-33: 7.25rem;
$px-34: 7.5rem;
$px-35: 7.75rem;
$px-36: 8rem;
$px-37: 8.25rem;
$px-38: 8.5rem;
$px-39: 8.75rem;
$px-40: 9rem;
$px-41: 9.25rem;
$px-42: 9.5rem;
$px-43: 9.75rem;
$px-44: 10rem;
$px-45: 10.25rem;
$px-46: 10.5rem;
$px-47: 10.75rem;
$px-48: 11rem;
$px-49: 11.25rem;
$px-50: 11.5rem;

// padding-block
$py-0: 0rem;
$py-px: 0.0625rem;
$py-1: 0.125rem;
$py-2: 0.25rem;
$py-3: 0.375rem;
$py-4: 0.5rem;
$py-5: 0.625rem;
$py-6: 0.75rem;
$py-7: 0.875rem;
$py-8: 1rem;
$py-9: 1.25rem;
$py-10: 1.5rem;
$py-11: 1.75rem;
$py-12: 2rem;
$py-13: 2.25rem;
$py-14: 2.5rem;
$py-15: 2.75rem;
$py-16: 3rem;
$py-17: 3.25rem;
$py-18: 3.5rem;
$py-19: 3.75rem;
$py-20: 4rem;
$py-21: 4.25rem;
$py-22: 4.5rem;
$py-23: 4.75rem;
$py-24: 5rem;
$py-25: 5.25rem;
$py-26: 5.5rem;
$py-27: 5.75rem;
$py-28: 6rem;
$py-29: 6.25rem;
$py-30: 6.5rem;
$py-31: 6.75rem;
$py-32: 7rem;
$py-33: 7.25rem;
$py-34: 7.5rem;
$py-35: 7.75rem;
$py-36: 8rem;
$py-37: 8.25rem;
$py-38: 8.5rem;
$py-39: 8.75rem;
$py-40: 9rem;
$py-41: 9.25rem;
$py-42: 9.5rem;
$py-43: 9.75rem;
$py-44: 10rem;
$py-45: 10.25rem;
$py-46: 10.5rem;
$py-47: 10.75rem;
$py-48: 11rem;
$py-49: 11.25rem;
$py-50: 11.5rem;

// margin
$m-0: 0rem;
$m-px: 0.0625rem;
$m-1: 0.125rem;
$m-2: 0.25rem;
$m-3: 0.375rem;
$m-4: 0.5rem;
$m-5: 0.625rem;
$m-6: 0.75rem;
$m-7: 0.875rem;
$m-8: 1rem;
$m-9: 1.25rem;
$m-10: 1.5rem;
$m-11: 1.75rem;
$m-12: 2rem;
$m-13: 2.25rem;
$m-14: 2.5rem;
$m-15: 2.75rem;
$m-16: 3rem;
$m-17: 3.25rem;
$m-18: 3.5rem;
$m-19: 3.75rem;
$m-20: 4rem;
$m-21: 4.25rem;
$m-22: 4.5rem;
$m-23: 4.75rem;
$m-24: 5rem;
$m-25: 5.25rem;
$m-26: 5.5rem;
$m-27: 5.75rem;
$m-28: 6rem;
$m-29: 6.25rem;
$m-30: 6.5rem;
$m-31: 6.75rem;
$m-32: 7rem;
$m-33: 7.25rem;
$m-34: 7.5rem;
$m-35: 7.75rem;
$m-36: 8rem;
$m-37: 8.25rem;
$m-38: 8.5rem;
$m-39: 8.75rem;
$m-40: 9rem;
$m-41: 9.25rem;
$m-42: 9.5rem;
$m-43: 9.75rem;
$m-44: 10rem;
$m-45: 10.25rem;
$m-46: 10.5rem;
$m-47: 10.75rem;
$m-48: 11rem;
$m-49: 11.25rem;
$m-50: 11.5rem;

// margin-top
$mt-0: 0rem;
$mt-px: 0.0625rem;
$mt-1: 0.125rem;
$mt-2: 0.25rem;
$mt-3: 0.375rem;
$mt-4: 0.5rem;
$mt-5: 0.625rem;
$mt-6: 0.75rem;
$mt-7: 0.875rem;
$mt-8: 1rem;
$mt-9: 1.25rem;
$mt-10: 1.5rem;
$mt-11: 1.75rem;
$mt-12: 2rem;
$mt-13: 2.25rem;
$mt-14: 2.5rem;
$mt-15: 2.75rem;
$mt-16: 3rem;
$mt-17: 3.25rem;
$mt-18: 3.5rem;
$mt-19: 3.75rem;
$mt-20: 4rem;
$mt-21: 4.25rem;
$mt-22: 4.5rem;
$mt-23: 4.75rem;
$mt-24: 5rem;
$mt-25: 5.25rem;
$mt-26: 5.5rem;
$mt-27: 5.75rem;
$mt-28: 6rem;
$mt-29: 6.25rem;
$mt-30: 6.5rem;
$mt-31: 6.75rem;
$mt-32: 7rem;
$mt-33: 7.25rem;
$mt-34: 7.5rem;
$mt-35: 7.75rem;
$mt-36: 8rem;
$mt-37: 8.25rem;
$mt-38: 8.5rem;
$mt-39: 8.75rem;
$mt-40: 9rem;
$mt-41: 9.25rem;
$mt-42: 9.5rem;
$mt-43: 9.75rem;
$mt-44: 10rem;
$mt-45: 10.25rem;
$mt-46: 10.5rem;
$mt-47: 10.75rem;
$mt-48: 11rem;
$mt-49: 11.25rem;
$mt-50: 11.5rem;

// margin-right
$mr-0: 0rem;
$mr-px: 0.0625rem;
$mr-1: 0.125rem;
$mr-2: 0.25rem;
$mr-3: 0.375rem;
$mr-4: 0.5rem;
$mr-5: 0.625rem;
$mr-6: 0.75rem;
$mr-7: 0.875rem;
$mr-8: 1rem;
$mr-9: 1.25rem;
$mr-10: 1.5rem;
$mr-11: 1.75rem;
$mr-12: 2rem;
$mr-13: 2.25rem;
$mr-14: 2.5rem;
$mr-15: 2.75rem;
$mr-16: 3rem;
$mr-17: 3.25rem;
$mr-18: 3.5rem;
$mr-19: 3.75rem;
$mr-20: 4rem;
$mr-21: 4.25rem;
$mr-22: 4.5rem;
$mr-23: 4.75rem;
$mr-24: 5rem;
$mr-25: 5.25rem;
$mr-26: 5.5rem;
$mr-27: 5.75rem;
$mr-28: 6rem;
$mr-29: 6.25rem;
$mr-30: 6.5rem;
$mr-31: 6.75rem;
$mr-32: 7rem;
$mr-33: 7.25rem;
$mr-34: 7.5rem;
$mr-35: 7.75rem;
$mr-36: 8rem;
$mr-37: 8.25rem;
$mr-38: 8.5rem;
$mr-39: 8.75rem;
$mr-40: 9rem;
$mr-41: 9.25rem;
$mr-42: 9.5rem;
$mr-43: 9.75rem;
$mr-44: 10rem;
$mr-45: 10.25rem;
$mr-46: 10.5rem;
$mr-47: 10.75rem;
$mr-48: 11rem;
$mr-49: 11.25rem;
$mr-50: 11.5rem;

// margin-bottom
$mb-0: 0rem;
$mb-px: 0.0625rem;
$mb-1: 0.125rem;
$mb-2: 0.25rem;
$mb-3: 0.375rem;
$mb-4: 0.5rem;
$mb-5: 0.625rem;
$mb-6: 0.75rem;
$mb-7: 0.875rem;
$mb-8: 1rem;
$mb-9: 1.25rem;
$mb-10: 1.5rem;
$mb-11: 1.75rem;
$mb-12: 2rem;
$mb-13: 2.25rem;
$mb-14: 2.5rem;
$mb-15: 2.75rem;
$mb-16: 3rem;
$mb-17: 3.25rem;
$mb-18: 3.5rem;
$mb-19: 3.75rem;
$mb-20: 4rem;
$mb-21: 4.25rem;
$mb-22: 4.5rem;
$mb-23: 4.75rem;
$mb-24: 5rem;
$mb-25: 5.25rem;
$mb-26: 5.5rem;
$mb-27: 5.75rem;
$mb-28: 6rem;
$mb-29: 6.25rem;
$mb-30: 6.5rem;
$mb-31: 6.75rem;
$mb-32: 7rem;
$mb-33: 7.25rem;
$mb-34: 7.5rem;
$mb-35: 7.75rem;
$mb-36: 8rem;
$mb-37: 8.25rem;
$mb-38: 8.5rem;
$mb-39: 8.75rem;
$mb-40: 9rem;
$mb-41: 9.25rem;
$mb-42: 9.5rem;
$mb-43: 9.75rem;
$mb-44: 10rem;
$mb-45: 10.25rem;
$mb-46: 10.5rem;
$mb-47: 10.75rem;
$mb-48: 11rem;
$mb-49: 11.25rem;
$mb-50: 11.5rem;

// margin-left
$ml-0: 0rem;
$ml-px: 0.0625rem;
$ml-1: 0.125rem;
$ml-2: 0.25rem;
$ml-3: 0.375rem;
$ml-4: 0.5rem;
$ml-5: 0.625rem;
$ml-6: 0.75rem;
$ml-7: 0.875rem;
$ml-8: 1rem;
$ml-9: 1.25rem;
$ml-10: 1.5rem;
$ml-11: 1.75rem;
$ml-12: 2rem;
$ml-13: 2.25rem;
$ml-14: 2.5rem;
$ml-15: 2.75rem;
$ml-16: 3rem;
$ml-17: 3.25rem;
$ml-18: 3.5rem;
$ml-19: 3.75rem;
$ml-20: 4rem;
$ml-21: 4.25rem;
$ml-22: 4.5rem;
$ml-23: 4.75rem;
$ml-24: 5rem;
$ml-25: 5.25rem;
$ml-26: 5.5rem;
$ml-27: 5.75rem;
$ml-28: 6rem;
$ml-29: 6.25rem;
$ml-30: 6.5rem;
$ml-31: 6.75rem;
$ml-32: 7rem;
$ml-33: 7.25rem;
$ml-34: 7.5rem;
$ml-35: 7.75rem;
$ml-36: 8rem;
$ml-37: 8.25rem;
$ml-38: 8.5rem;
$ml-39: 8.75rem;
$ml-40: 9rem;
$ml-41: 9.25rem;
$ml-42: 9.5rem;
$ml-43: 9.75rem;
$ml-44: 10rem;
$ml-45: 10.25rem;
$ml-46: 10.5rem;
$ml-47: 10.75rem;
$ml-48: 11rem;
$ml-49: 11.25rem;
$ml-50: 11.5rem;

// margin-inline
$mx-auto: auto;
$mx-0: 0rem;
$mx-px: 0.0625rem;
$mx-1: 0.125rem;
$mx-2: 0.25rem;
$mx-3: 0.375rem;
$mx-4: 0.5rem;
$mx-5: 0.625rem;
$mx-6: 0.75rem;
$mx-7: 0.875rem;
$mx-8: 1rem;
$mx-9: 1.25rem;
$mx-10: 1.5rem;
$mx-11: 1.75rem;
$mx-12: 2rem;
$mx-13: 2.25rem;
$mx-14: 2.5rem;
$mx-15: 2.75rem;
$mx-16: 3rem;
$mx-17: 3.25rem;
$mx-18: 3.5rem;
$mx-19: 3.75rem;
$mx-20: 4rem;
$mx-21: 4.25rem;
$mx-22: 4.5rem;
$mx-23: 4.75rem;
$mx-24: 5rem;
$mx-25: 5.25rem;
$mx-26: 5.5rem;
$mx-27: 5.75rem;
$mx-28: 6rem;
$mx-29: 6.25rem;
$mx-30: 6.5rem;
$mx-31: 6.75rem;
$mx-32: 7rem;
$mx-33: 7.25rem;
$mx-34: 7.5rem;
$mx-35: 7.75rem;
$mx-36: 8rem;
$mx-37: 8.25rem;
$mx-38: 8.5rem;
$mx-39: 8.75rem;
$mx-40: 9rem;
$mx-41: 9.25rem;
$mx-42: 9.5rem;
$mx-43: 9.75rem;
$mx-44: 10rem;
$mx-45: 10.25rem;
$mx-46: 10.5rem;
$mx-47: 10.75rem;
$mx-48: 11rem;
$mx-49: 11.25rem;
$mx-50: 11.5rem;

// margin-block
$my-0: 0rem;
$my-px: 0.0625rem;
$my-1: 0.125rem;
$my-2: 0.25rem;
$my-3: 0.375rem;
$my-4: 0.5rem;
$my-5: 0.625rem;
$my-6: 0.75rem;
$my-7: 0.875rem;
$my-8: 1rem;
$my-9: 1.25rem;
$my-10: 1.5rem;
$my-11: 1.75rem;
$my-12: 2rem;
$my-13: 2.25rem;
$my-14: 2.5rem;
$my-15: 2.75rem;
$my-16: 3rem;
$my-17: 3.25rem;
$my-18: 3.5rem;
$my-19: 3.75rem;
$my-20: 4rem;
$my-21: 4.25rem;
$my-22: 4.5rem;
$my-23: 4.75rem;
$my-24: 5rem;
$my-25: 5.25rem;
$my-26: 5.5rem;
$my-27: 5.75rem;
$my-28: 6rem;
$my-29: 6.25rem;
$my-30: 6.5rem;
$my-31: 6.75rem;
$my-32: 7rem;
$my-33: 7.25rem;
$my-34: 7.5rem;
$my-35: 7.75rem;
$my-36: 8rem;
$my-37: 8.25rem;
$my-38: 8.5rem;
$my-39: 8.75rem;
$my-40: 9rem;
$my-41: 9.25rem;
$my-42: 9.5rem;
$my-43: 9.75rem;
$my-44: 10rem;
$my-45: 10.25rem;
$my-46: 10.5rem;
$my-47: 10.75rem;
$my-48: 11rem;
$my-49: 11.25rem;
$my-50: 11.5rem;

// gap
$gp-0: 0rem;
$gp-px: 0.0625rem;
$gp-1: 0.125rem;
$gp-2: 0.25rem;
$gp-3: 0.375rem;
$gp-4: 0.5rem;
$gp-5: 0.625rem;
$gp-6: 0.75rem;
$gp-7: 0.875rem;
$gp-8: 1rem;
$gp-9: 1.25rem;
$gp-10: 1.5rem;
