@import '@/assets/scss/util/spacing';
@import '@/assets/scss/util/size';
@import '@/assets/scss/util/border-radius';
@import '@/assets/scss/util/breakpoint';
@import '@/assets/scss/util/color';
@import '@/assets/scss/util/font-family';
@import '@/assets/scss/util/font-size';
@import '@/assets/scss/util/font-weight';
@import '@/assets/scss/util/mixin';
@import '@/assets/scss/util/placeholder';
@import '@/assets/scss/util/transition';
@import '@/assets/scss/base/container';
@import '@/assets/scss/base/font-face';
@import '@/assets/scss/base/reset';

body {
    line-height: 1.6;
    color: $c-white;
    font-weight: $fw-regular;
    font-family: $ff-century, sans-serif;
    @supports (background-image: url('@img/bg.webp')) {
        background-image: url('@img/bg.webp');
    }
    background-image: url('@img/bg.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: $c-grey-dark;
    background-attachment: fixed;
}
