// transitions
$smooth-transition: opacity 0.2s cubic-bezier(0.55, 0.085, 0.68, 0.53);

// colors
$white: #fff;
$pink: #ebbcc4;
$black: #000;
$grey: #afafaf;
$green: #81d58c;

// sizes
$fit-size: calc(100% - 3rem);

// burger menu
$bar-height: 3px;
$bar-width: 30px;
$burger-gap: 6px;
$burger-animation: 200ms ease-in-out;
$burger-height: calc($bar-height * 3 + $burger-gap * 2);
$x-width: calc($burger-height * 1.41421356237);