// effects
$smooth-transition: opacity 0.2s cubic-bezier(0.55, 0.085, 0.68, 0.53);

// colors
$white: #fff;
$pink: #ebbcc4;
$black: #000;
$grey: #afafaf;
$green: #81d58c;

// numbers
$fit-size: calc(100% - 3rem);
