.container {
    width: $w-full;
    min-height: $h-screen;
    margin-inline: $auto;
    padding-inline: $p-4;
    padding-top: $p-32;
    padding-bottom: $p-44;
}

@media (width >= $screen-md) {
    .container {
        max-width: $screen-md;
    }
}

@media (width >= $screen-lg) {
    .container {
        max-width: $screen-xl;
    }
}

@media (width >= $screen-xxl) {
    .container {
        max-width: $screen-xxl;
    }
}
