.container {
    width: $w-full;
    margin-inline: $mx-auto;
    padding-inline: 1rem;
    min-height: 100vh;
    padding-top: 7.8125rem;
    padding-bottom: 10.7rem;
}

@media (width >= $screen-md) {
    .container {
        max-width: $screen-md;
    }
}

@media (width >= $screen-lg) {
    .container {
        max-width: $screen-xl;
    }
}

@media (width >= $screen-xxl) {
    .container {
        max-width: $screen-xxl;
    }
}
