.container {
    width: $w-full;
    margin-inline: $auto;
}

@media (width >= $screen-md) {
    .container {
        max-width: $container-md;
    }
}

@media (width >= $screen-lg) {
    .container {
        max-width: $container-lg;
    }
}
@media (width >= $screen-xl) {
    .container {
        max-width: $container-xl;
    }
}

@media (width >= $screen-xxl) {
    .container {
        max-width: $container-xxl;
    }
}
