@font-face {
    font-display: swap;
    font-family: 'Spectral SC';
    font-style: normal;
    font-weight: $fw-regular;
    src: url('@fonts/spectral-sc-v12-latin-regular.woff2') format('woff2');
}

@font-face {
    font-display: swap;
    font-family: 'Century Gothic W05 Regular';
    font-style: normal;
    font-weight: $fw-regular;
    src: url('@fonts/Century Gothic W05 Regular.woff2') format('woff2');
}
