// transitions
$tr-smooth: 200ms cubic-bezier(0.55, 0.085, 0.68, 0.53);

// animations
$skeleton: skeleton-loading 1s linear infinite alternate;

// grid-areas
$grid-areas: item1 item2 item3 item4 item5;

// colors
$c-black: #000;
$c-white: #fff;
$c-grey-hard: #afafaf;
$c-grey-soft: #cecece;
$c-bright-grey: #373737;
$c-light-grey: #212121;
$c-dark-grey: #1d1e1f;
$c-pink: #ebbcc4;

// decorations
$fx-shadow-basic: 8px 8px 18px $c-black;

// sizes
$fit-size: calc(100% - 3rem);

// burger menu
$bar-height: 3px;
$bar-width: 30px;
$burger-gap: 6px;
$burger-margin: 8px;
$burger-height: calc($bar-height * 3 + $burger-gap * 2);
$x-width: calc($burger-height * 1.41421356237);

// fonts
$century: Century Gothic W05 Regular;
$spectral: Spectral SC ExtraLight;
$vegan: Vegan Style;
