$an-skeleton: skeleton-loading 1s linear infinite alternate;

@keyframes skeleton-loading {
    from {
        background-color: hsl(200, 20%, 70%);
        opacity: 0;
    }
    to {
        opacity: 1;
        background-color: hsl(200, 20%, 95%);
    }
}

@keyframes loading {
    50% {
        opacity: 0;
        transform: scale(0.7);
    }
}
