@import 'abstracts';
@import 'common';
@import 'base';

body {
    line-height: $lh-default;
    font-family: $ff-primary, 'SF Pro', 'Open Sans', Candara;
    font-weight: $fw-regular;
    font-size: $fs-h6;
    background-color: #194c5a;
    color: $c-white;
}
