//& Positioning
// Top
$top-full: 100%;
$top-half: 50%;
$top-0: 0px;

// Right
$right-full: 100%;
$right-half: 50%;
$right-0: 0px;

// Bottom
$bottom-full: 100%;
$bottom-half: 50%;
$bottom-0: 0px;

// Left
$left-full: 100%;
$left-half: 50%;
$left-0: 0px;

//& Transform: translate
// TranslateY
$translateY-full: translateY(100%);
$translateY-full-neg: translateY(-100%);
$translateY-half: translateY(50%);
$translateY-half-neg: translateY(-50%);
$translateY-0: translateY(0);

// TranslateX
$translateX-full: translateX(100%);
$translateX-full-neg: translateX(-100%);
$translateX-half: translateX(50%);
$translateX-half-neg: translateX(-50%);
$translateX-0: translateX(0);
