@font-face {
    font-display: swap;
    font-family: 'Spectral SC';
    font-style: normal;
    font-weight: 400;
    src: url('@fonts/spectral-sc-v12-latin-regular.woff2') format('woff2');
}

@font-face {
    font-display: swap;
    font-family: 'Century Gothic W05 Regular';
    font-style: normal;
    font-weight: 400;
    src: url('@fonts/Century Gothic W05 Regular.woff2') format('woff2');
}

@font-face {
    font-family: 'golden_hills_demoregular';
    src: url('@fonts/goldenhillsdemo-webfont.woff2') format('woff2');
}

@font-face {
    font-family: 'gothammedium';
    src: url('@fonts/gothammedium-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
